@using CAESGenome.Core.Resources
@model UserJob

<fieldset>
    
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.RechargeAccount.AccountNum, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.RechargeAccount.AccountNum)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PlateType, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.PlateType)
                </div>
            </div>
            <div class="control-group">
                <label for="JobType" class="control-label">Job Type</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.JobType.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.NumberPlates, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.NumberPlates)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.SequenceDirection, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.SequenceDirection)
                </div>
            </div>        
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Strain, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Strain.Name)
                </div>
            </div>
    
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Primer1, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Primer1.Name)
                </div>
            </div>
    
            @if(Model.UserJobBacterialClone.SequenceDirection == SequenceDirection.Backward)
            {
                <div class="control-group">
                    @Html.LabelFor(model => model.UserJobBacterialClone.Primer2, new {@class = "control-label"})
                    <div class="controls form-text">
                        @Html.DisplayFor(model => model.UserJobBacterialClone.Primer2.Name)
                    </div>
                </div>
            }
    
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Vector, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Vector.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Antibiotic, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Antibiotic.Name)
                </div>
            </div>        
        </div>
        <div class="span12" style="margin-left: 0;">
            <div class="control-group">
                @Html.LabelFor(model => model.Comments, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Comments)
                </div>
            </div>
        </div>
    </div>
    
</fieldset>

@Html.Partial("_UserJobPlates")