@using CAESGenome.Core.Resources
@model UserJob

<fieldset>
    
    <div class="row-fluid">
        <div class="span6">
            @Html.Partial("_basicFieldsDetails")
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.SequenceDirection, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.SequenceDirection)
                </div>
            </div>        
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Strain, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Strain.Name)
                </div>
            </div>
    
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Primer1, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Primer1.Name)
                </div>
            </div>
    
            @if(Model.UserJobBacterialClone.SequenceDirection == SequenceDirection.Backward)
            {
                <div class="control-group">
                    @Html.LabelFor(model => model.UserJobBacterialClone.Primer2, new {@class = "control-label"})
                    <div class="controls form-text">
                        @Html.DisplayFor(model => model.UserJobBacterialClone.Primer2.Name)
                    </div>
                </div>
            }
    
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Vector, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Vector.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobBacterialClone.Antibiotic, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobBacterialClone.Antibiotic.Name)
                </div>
            </div>        
        </div>
        @Html.Partial("_CommentDetails")
    </div>
    
</fieldset>

@Html.Partial("_UserJobPlates")