@model UserJob

<div class="control-group">
    @Html.LabelFor(model => model.User.FullName, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.User.FullName)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.User.UserName, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.User.UserName)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.User.Phone, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.User.Phone)
    </div>
</div>
<div class="control-group">
    @Html.Label("PI Name", new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.User.ParentUser.FullName)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.RechargeAccount.AccountNum, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.RechargeAccount.AccountNum)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.PlateType, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.PlateType)
    </div>
</div>
<div class="control-group">
    <label for="JobType" class="control-label">Job Type</label>
    <div class="controls form-text">
        @Html.DisplayFor(model => model.JobType.Name)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.NumberPlates, new {@class = "control-label"})
    <div class="controls form-text">
        @Html.DisplayFor(model => model.NumberPlates)
    </div>
</div>