@model UserJob

<fieldset>
    <div class="row-fluid">
        <div class="span6">
           @Html.Partial("_basicFieldsDetails")
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobDna.Primer1, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobDna.Primer1.Name)
                </div>
            </div>
        </div>
        @Html.Partial("_CommentDetails")
    </div>
</fieldset>

@Html.Partial("_UserJobPlates")