@using CAESGenome.Core.Resources
@model UserJob

<style type="text/css">
    table.barcodes tr td:first-child { width: 90px;}
</style>

@foreach(var stage in Model.UserJobPlates.SelectMany(a => a.Barcodes).Select(a => a.Stage).Distinct().OrderBy(a => a.Order))
{
    <fieldset>
        <legend>
            <div class="pull-right">
                <ul class="nav nav-pills">
                    <li>
                    @using (Html.BeginForm("PrintStageBarcodes", "UserJob", new {id=Model.Id, stageId = stage.Id}, FormMethod.Post, new {style="diplay:inline-block;"}))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn hastip" title="Print all Barcodes">
                            <i class="icon-print"></i>
                            All Barcodes
                        </button>    
                    }
                    </li>

                    @if(!stage.IsComplete && Model.UserJobPlates.SelectMany(a => a.Barcodes).Where(a => a.Stage == stage).Any(a => !a.Done))
                    {
                        <li>
                            @using(Html.BeginForm("AdvanceStageBarcodes", "UserJob", new {id=Model.Id, stageId = stage.Id}, FormMethod.Post, new {style="display:inline-block;"}))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn hastip" title="Advance All Barcodes">
                                    <i class="icon-share"></i>
                                    All Barcodes
                                </button>        
                            }
                        </li>
                    }
                </ul>
            </div>
            @stage.Name
        </legend>
        
        <table class="table barcodes">
            <thead>
                <tr>
                    <th></th>
                    <th>Barcode</th>
                    <th>Plate Name</th>
                    <th>Sub Plate Id</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var barcode in Model.UserJobPlates.SelectMany(a => a.Barcodes).Where(a => a.Stage == stage))
                {
                    <tr>
                        <td>
                            @if (User.IsInRole(RoleNames.Staff))
                            {
                                if (!barcode.Stage.IsComplete)
                                {
                                    using(Html.BeginForm("AdvanceBarcode", "UserJob", new {id=barcode.Id}, FormMethod.Post, new {style ="display:inline-block;"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:;" class="btn hastip advance" title="Advance Barcode to Next Stage"><i class="icon-share"></i></a>
                                    }            
                                }
                                
                                if (barcode.Stage.IsComplete && barcode.BarcodeFiles.Count > 0)
                                {
                                    if (!barcode.Validated)
                                    {
                                        <a href="javascript:;" class="btn hastip run-validation" title="Run Validation" data-id="@barcode.Id"><i class="icon-play"></i></a>     
                                        <img src="@Url.Content("~/Images/ajaxloader.gif")" style="display:none;" class="ajaxloader"/>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("QualityControl", "Results", new {id=barcode.Id})" title="View Quality Control Data" class="btn hastip">
                                            <i class="icon-th"></i>
                                        </a>
                                    }    
                                }

                                using(Html.BeginForm("PrintBarcode", "UserJob", new {id=barcode.Id}, FormMethod.Post, new {style="display: inline-block;"}))
                                {
                                    <a href="javascript:;" class="btn hastip" title="Print barcode"><i class="icon-print"></i></a>
                                }    
                            }
                        </td>
                        <td>@barcode.Id</td>
                        <td>@barcode.PlateName</td>
                        <td>@barcode.SubPlateId</td>
                        <td>@barcode.DateCreated.ToShortDateString()</td>
                        <td>
                            @if (barcode.Done)
                            {
                                <div class="label label-success">Complete</div>
                            }
                            else if (barcode.BarcodeFiles.Any() && !barcode.Validated)
                            {
                                <div class="label label-warning">Validation Pending</div>    
                            }
                            else
                            {
                                <div class="label label-info">Open</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}