@model UserJob

<fieldset>
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.RechargeAccount.AccountNum, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.RechargeAccount.AccountNum)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PlateType, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.PlateType)
                </div>
            </div>
            <div class="control-group">
                <label for="JobType" class="control-label">Job Type</label>
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.JobType.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.NumberPlates, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.NumberPlates)
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="control-group">
                @Html.LabelFor(model => model.UserJobUserRun.Dye, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.UserJobUserRun.Dye.Name)
                </div>
            </div>
        </div>
        <div class="span12" style="margin-left: 0;">
            <div class="control-group">
                @Html.LabelFor(model => model.Comments, new {@class = "control-label"})
                <div class="controls form-text">
                    @Html.DisplayFor(model => model.Comments)
                </div>
            </div>
        </div>
    </div>
</fieldset>

@Html.Partial("_UserJobPlates")