@using CAESGenome.Core.Resources
@model UserJob

@{
    ViewBag.Title = "Job Details";
    ViewBag.SubPageTitle = string.Format("{0} Details", Model.Name);
}

@section SubPageMenu
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".advance").click(function (event) {
                $(this).closest('form').submit();
                event.preventDefault();
            });

            $(".stage").click(function (event) {
                if (confirm("Are you sure you want to advance all plates?")) {
                    $(this).closest('form').submit();
                }
            });

            var validationUrl = '@Url.Action("RunValidation", "Results")';

            $(".run-validation").click(function (event) {
                var token = $("input[name='__RequestVerificationToken']").val();
                var barcode = $(this).data('id');
                var that = this;

                $(that).siblings(".ajaxloader").toggle();

                $.post(validationUrl, {__RequestVerificationToken: token, id: barcode}, function (result) {
                    if (result) {
                        alert("success");
                    }
                    else {
                        alert("failure");
                    }
                    
                    $(that).siblings(".ajaxloader").toggle();
                });

                event.preventDefault();
            });
        });
    </script>
    
    <style type="text/css">
        .stage { cursor: pointer;}
        .form-horizontal .control-group { margin-bottom: 0;}
        .form-horizontal .row-fluid { margin-bottom: 1em;}
    </style>
}

<div class="form-horizontal">
    
    @if(Model.JobType.Id == (int)JobTypeIds.BacterialClone)
    {
        @Html.Partial("_BacterialCloneDetails")
    }
    @if(Model.JobType.DNASequencing)
    {
        @Html.Partial("_DnaDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.UserRunSequencing)
    {
        @Html.Partial("_UserRunDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.UserRuneGenotyping)
    {
        @Html.Partial("_Genotyping")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotColonyPicking)
    {
        @Html.Partial("_qbotColonyPickingDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotPlateReplicating)
    {
        @Html.Partial("_qbotReplicating")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotGridding)
    {
        @Html.Partial("_qbotGridding")
    }

</div>