@using CAESGenome.Core.Resources
@model UserJob

@{
    ViewBag.Title = "Job Details";
    ViewBag.SubPageTitle = string.Format("{0} Details", Model.Name);
}

@section SubPageMenu
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to List", "Index")</li>
    </ul>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".advance").click(function (event) {
                $(this).closest('form').submit();
                event.preventDefault();
            });
        });
    </script>
}

<div class="form-horizontal">
    
    @if(Model.JobType.Id == (int)JobTypeIds.BacterialClone)
    {
        @Html.Partial("_BacterialCloneDetails")
    }
    @if(Model.JobType.DNASequencing)
    {
        @Html.Partial("_DnaDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.UserRunSequencing)
    {
        @Html.Partial("_UserRunDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.UserRuneGenotyping)
    {
        @Html.Partial("_Genotyping")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotColonyPicking)
    {
        @Html.Partial("_qbotColonyPickingDetails")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotPlateReplicating)
    {
        @Html.Partial("_qbotReplicating")
    }
    @if(Model.JobType.Id == (int)JobTypeIds.QbotGridding)
    {
        @Html.Partial("_qbotGridding")
    }
</div>