@model MonthlyDetailsViewModel

@{
    ViewBag.Title = "Monthly User Jobs";
    ViewBag.SubPageTitle = string.Format("{0} ({1}, {2})", "Monthly User Jobs", Model.Month, Model.Year);
}

@section scripts
{
    @Html.Partial("_dataTables")
}

@section SubPageMenu
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to Completed Jobs", "Completed")</li>
    </ul>
}    

<table class="default_table table table-striped table-bordered">
    <thead>
        <tr>
            <th>Job ID</th>
            <th>User Name</th>
            <th>Job Type</th>
            <th>Job Name</th>
            <th>Date Submitted</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in Model.Jobs)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "UserJob", new {id=job.Id, completed=true})" class="btn btn-mini hastip" title="View User Job">
                        @*<i class="icon icon-search"></i>*@
                        @job.Id
                    </a>
                </td>
                <td>@job.User.FullName</td>
                <td>@job.JobType.Name</td>
                <td>@job.Name</td>
                <td>@job.DateTimeCreated.ToShortDateString()</td>
                <td>@job.LastUpdate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>