@model IList<RechargeAccount>

@{
    ViewBag.Title = "Recharge Accounts";
    ViewBag.SubPageTitle = "Recharge Accounts";
}

@section scripts
{
    @Html.Partial("_DataTables")
}

@section SubPageMenu
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Create New Account", "CreateRechargeAccount")</li>
        <li>@Html.ActionLink("Back to PI Home", "Index")</li>
    </ul>
}

<table class="table table-striped table-bordered default_table">
    <thead>
        <tr>
            <th></th>
            <td>Account #</td>
            <td>Description</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Is Active</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var acct in Model.OrderBy(a => a.IsValid).ThenBy(a => a.AccountNum))
        {
            <tr>
                <td>
                    <a href="@Url.Action("EditRechargeAccount", new {id = acct.Id})" class="btn hastip" title="Edit Recharge Account"><i class="icon-pencil"></i></a>
                </td>
                <td>@acct.AccountNum</td>
                <td>@acct.Description</td>
                <td>@acct.Start.ToShortDateString()</td>
                <td>@(acct.End.HasValue ? acct.End.Value.ToShortDateString() : "no end")</td>
                <td>
                    @if(acct.IsActive())
                    {
                        <span class="label label-success">Yes</span>
                    }
                    else
                    {
                        <span class="label label-warning">No</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>