@using System.Configuration
@{
    //ViewBag.Title = "CAES Genomics Facility";
    //ViewBag.SubPageTitle = "WELCOME to the CAES Genomics Facility!";
}

@section scripts
{
    <link href="@Url.Content("~/Content/geno.css")" rel="stylesheet" type="text/css"/>
}
    
<div id="top_content">
    <div id="top_content_content">
    <h1>Welcome to the CA&ES <br/>Genomics Facility</h1>
    <p>The CAES Genomics Facility (CGF) provides campus researchers with genomics technologies for use in individual and collaborative research programs. The facility provides low-cost DNA sequencing, houses robotics instrumentation for liquid handling, colony picking and sample preparation, and administers computer hardware and software resources for use in sequence interpretation and related data analyses.</p> <p> The CGF will also incorporate additional technologies, e.g., genotyping and transcriptional profiling, when technically appropriate and if there is sufficient need.</p>
    </div> <!-- end of top_content_content -->
</div> <!-- end of top_content -->

@if (!String.IsNullOrEmpty(ConfigurationManager.AppSettings["ServiceMessage"])) {
    <div id="system-messages">
        <h2>Important Notice:</h2>
        <div id="system-messages-text">
            <p class="info">@ConfigurationManager.AppSettings["ServiceMessage"]</p>
        </div>
    </div>
    <br/>
}

    
<div id="nav">
    <div id="nav_items">
       
        <div id="navcontainer">
			<ul id="ul1">
				<li>@Html.ActionLink("Services","Service","Home")</li>
				<li>@Html.ActionLink("Price","Rates","Home")</li>
				<li>@Html.ActionLink("Protocol","Protocol","Home")</li>
				<li>@Html.ActionLink("FAQ","Faq","Home")</li>
       		</ul>
        </div>
    
    </div> <!-- end of nav_items -->
</div> <!-- end of nav -->
    
<div id="lower_content">
   	<div id="lower_content_content">
    <div id="buttons">
            <div id="bg_buttons">
                <a href="@Url.Content("~/Home/Service#DNASequencing")" class="buttons">
             		<p>DNA SEQUENCING</p>
                <a/>
               	<a href="@Url.Content("~/Home/Service#Bioinformatics")" class="buttons">
             		<p>BIO INFORMATICS</p>
                </a>
                <a href="@Url.Content("~/Home/Service#DNASequencing")" class="buttons">
             		<p>GENOTYPING</p>
                </a>
                <a href="@Url.Content("~/Home/Service#Robotics")" class="buttons">
             		<p>ROBOTICS</p>
                </a>
            </div>
        </div>
        
        <div class="lower_text">
            <ul><li>From bacterial colony to processed FASTA files</li><li>PCR products, plasmid DNA and large insert clones<li>Capillary instruments (ABI 3730XL)</li></ul>
        </div>
            
        <div class="lower_text">
            <ul><li>Automated GenBank submissions</li><li>Clustering and BLAST analysis<li>Customized relational databases for data mining</li></ul>
        </div>
            
        <div class="lower_text">
            <ul><li>Simple sequence repeats</li><li>Custom fragment analysis<li>Genotype analysis software</li></ul>
        </div>
            
        <div class="lower_text">
            <ul><li>Colony picking</li><li>Replicating</li><li>Gridding</li><li>Rearraying</li><li>Liquid handling</li></ul>
        </div>
            
    </div><!-- end of bottom_content_content --> 
</div><!-- end of bottom_content -->
