@{
    ViewBag.Title = "Protocols";
}

<h4>Sequencing</h4>
<ul>
    <li><a href="@Url.Content("~/docs/Protocols_seq/RCAprotocol+.pdf")">Rolling Circle Amplication</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/Quantitation+.pdf")">Quantiation of DNA</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/PCR product sqn.pdf")">Sequencing of PCR product</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/sequencing+.pdf")">Sequencing Reaction Setup</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/Ethanol Precipitation.pdf")">Ethanol/EDTA/Sodium Acetate Precipitation for Big Dye v. 3.1 Chemistry</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/ABI 3730.pdf")">ABI 3730xl DNA Analyzer Operation & Maintenance</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/HYDRA.pdf")">Hydra Usage</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/BAC_DNA_prep.pdf")">Large Construct Isolation Protocol</a>
    <li><a href="@Url.Content("~/docs/Protocols_seq/Shotgun_Subcloning.pdf")">Shotgun Subcloning</a>
</ul>

<h4>Fragment Analysis</h4>
<ul>
    <li><a href="@Url.Content("~/docs/fragmentAnalysis/FragmentAnalysis.pdf")">Fragment analysis protocol</a>
</ul>

<h4>Q-Bot</h4>
<ul>
    <li><a href="@Url.Content("~/docs/Q-bot/general.pdf")">Q-BOT General Information</a>
    <li><a href="@Url.Content("~/docs/Q-bot/picking.pdf")">Picking</a>
    <li><a href="@Url.Content("~/docs/Q-bot/REPLICATING.pdf")">Replicating</a>
    <li><a href="@Url.Content("~/docs/Q-bot/GRIDDING.pdf")">Gridding</a>
    <li><a href="@Url.Content("~/docs/Q-bot/FILTER PROCESSING SOLUTIONS.pdf")">Filter Processing Solutions</a>
    <li><a href="@Url.Content("~/docs/Q-bot/FILTER-PROCESSING.pdf")">Filter Processing</a>
    <li><a href="@Url.Content("~/docs/Q-bot/CLEANING HEADS.pdf")">Cleaning Heads</a>
    <li><a href="@Url.Content("~/docs/Q-bot/FREEZING MEDIUM.pdf")">Freezing Medium</a>
    <li><a href="@Url.Content("~/docs/Q-bot/q-tray.pdf")">Q-Tray Media</a>
    <li><a href="@Url.Content("~/docs/Q-bot/q-fill.pdf")">Using the Q-Fill</a>
</ul>