@using CAESGenome.Core.Resources
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - CA&ES Genomics Facility</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("CA&ES Genomics Facility", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if(User.IsInRole(RoleNames.User))
                            {
                                <li>@Html.ActionLink("User", "Index", "Authorized")</li>
                            }
                            @if(User.IsInRole(RoleNames.PI))
                            {
                                <li>@Html.ActionLink("PI", "Index", "PI")</li>
                            }
                            <li>@Html.ActionLink("Services", "Service", "Home")</li>
                            <li>@Html.ActionLink("Rates", "Rates", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            
            @if(!string.IsNullOrEmpty(ViewBag.SubPageTitle))
            {
                <section class="featured">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h1>@ViewBag.SubPageTitle</h1>
                        </hgroup>
                    </div>
                </section>
            }

            <section class="content-wrapper main-content clear-fix">
                <div class="pull-right">
                    @RenderSection("SubPageMenu", required: false)          
                </div>
                
                @if(!string.IsNullOrEmpty(TempData["Message"] as string))
                {
                    <div class="alert alert-info">@TempData["Message"]</div>
                }
                
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; The Regents of the University of California, Davis Campus.  All Rights Reserved.</p>
                </div>
                <div class="float-right">
                    <p>Version: @ViewBag.Version</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        @Html.Partial("_polyfills")

        <script type="text/javascript">
            $(function () {
                $(".hastip").tooltip();
            });
        </script>
        
        @RenderSection("scripts", required: false)
    </body>
</html>
