@using CAESGenome.Core.Resources

<ul class="nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if(User.IsInRole(RoleNames.User))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User</a>
            <b class="caret"></b>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("User Home", "Index", "Authorized")</li>
                <li class="divider"></li>
                <li class="nav-header">Job Submission</li>
                <li>@Html.ActionLink("Submit Sequencing Job", "Create", "Sequencing")</li>
                <li>@Html.ActionLink("Submit Genotyping Job", "Create", "Genotyping")</li>
                <li>@Html.ActionLink("Submit Qbot Job", "Create", "Qbot")</li>
                <li class="divider"></li>
                <li class="nav-header">Job History</li>
                <li>@Html.ActionLink("Open Jobs", "Index", "UserJob")</li>
                <li>@Html.ActionLink("Completed Jobs", "UserCompleted", "UserJob")</li>
                <li class="divider"></li>
                <li class="nav-header">Reservations</li>
                <li>@Html.ActionLink("Equipment", "Reserve", "Equipment")</li>
                <li>@Html.ActionLink("Reservations", "Reservations", "Equipment")</li>
            </ul>
        </li>
                                
    }
    @if(User.IsInRole(RoleNames.PI))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PI</a>
            <b class="caret"></b>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("PI Home", "Index", "PI")</li>
                <li>@Html.ActionLink("Manage Users", "Users", "PI")</li>
                <li>@Html.ActionLink("Recharge Accounts", "RechargeAccounts", "PI")</li>
            </ul>
        </li>
                                
    }
    @if(User.IsInRole(RoleNames.Staff))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff</a>
            <b class="caret"></b>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Staff Home", "Index", "Staff")</li>
                <li class="divider"></li>
                <li class="nav-header">Jobs</li>
                <li>@Html.ActionLink("On-Going Jobs", "Index", "UserJob")</li>
                <li>@Html.ActionLink("Upload Files", "UploadFile", "Results")</li>
                <li>@Html.ActionLink("Completed Jobs", "Completed", "UserJob")</li>
                <li>@Html.ActionLink("Quality Control", "Index", "QualityControl")</li>
                <li><a href="#">Monthly Stats</a></li>
                <li class="divider"></li>
                <li class="nav-header">Equipment Microscope</li>
                <li>@Html.ActionLink("Schedule", "Schedule", "Equipment")</li>
                <li>@Html.ActionLink("Monthly Usage", "Usage", "Equipment")</li>
            </ul>
        </li>
    }
    @if(User.IsInRole(RoleNames.Admin))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
            <b class="caret"></b>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("User Mgt", "Users", "Admin")</li>
            </ul>
        </li>
    }
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>