@model IQueryable<UserJob>

@{
    ViewBag.Title = "Open Jobs";
    ViewBag.SubPageTitle = "Open Jobs";
}

@section scripts
{
    @Html.Partial("_DataTables")
}

<table class="table table-striped table-bordered default_table">
    <thead>
        <tr>
            <th></th>
            <th>Job Name</th>
            <th># Plates</th>
            <th>Submission Type</th>
            <th>Date Created</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var uj in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "UserJob", new {@uj.Id})" class="btn">
                        <i class="icon-search"></i>
                    </a>
                </td>
                <td>@uj.Name</td>
                <td>@uj.UserJobPlates.Count</td>
                <td>@uj.JobType.Name</td>
                <td>@uj.DateTimeCreated</td>
                <td>@uj.LastUpdate</td>
            </tr>
        }
    </tbody>
</table>
