@{
    ViewBag.Title = "Staff Home";
    ViewBag.SubPageTitle = "Staff Home";
}

<div class="row-fluid main-menu">
    <a href="@Url.Action("Index", "UserJob")" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/openjobs.png")"/>
        <h4>On-Going Jobs</h4>
    </a>
    <a href="@Url.Action("UploadFile", "Results")" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/up.png")"/>
        <h4>Upload Files</h4>
    </a>
    <a href="@Url.Action("Completed", "UserJob")" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/completedjobs.png")"/>
        <h4>Completed Jobs</h4>
    </a>
</div>
<div class="row-fluid main-menu">
    <a href="#" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/statistics.png")"/>
        <h4>Monthly Statistics</h4>
    </a>
    <a href="@Url.Action("Schedule", "Equipment")" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/date.png")"/>
        <h4>Equipment Schedule</h4>
    </a>
    <a href="@Url.Action("Usage", "Equipment")" class="span4 img-rounded">
        <img src="@Url.Content("~/Images/usage.png")"/>
        <h4>Equipment Usage</h4>
    </a>
</div>

<div class="well" style="margin-top: 1em;">
    @using(Html.BeginForm("SearchByBarcode", "UserJob", FormMethod.Post, new {@class="form-search"}))
    {
        @Html.AntiForgeryToken()
        <input type="number" class="search-query" name="id"/>
        <button type="submit" class="btn">Search Barcode</button>
    }
</div>