@model CAESGenome.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {@class="form-horizontal"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
    
        <div class="control-group">
            @Html.LabelFor(model => model.OldPassword, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.NewPassword, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword, new {@class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Change password" />    
        </div>

        
    </fieldset>
}
