@{
    ViewBag.Title = "Reset Password";
}

@if(string.IsNullOrEmpty(ViewBag.Email))
{
    using(Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class="form-horizontal"}))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend></legend>
            
            <div class="control-group">
                <label for="Email" class="control-label">Email Address</label>
                <div class="controls">
                    @Html.Editor("Email")
                    @Html.ValidationMessage("Email")
                </div>
            </div>
        </fieldset>
    
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Send Password Reset Token"/>
        </div>
    }
}
else
{
    using(Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class="form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend></legend>
             
            <div class="control-group">
                <label for="Token" class="control-label">Token</label>
                <div class="controls">
                    @Html.Editor("Token")
                </div>
            </div>

            <div class="control-group">
                <label for="Password" class="control-label">Password</label>
                <div class="controls">
                    @Html.Password("Password")
                </div>
            </div>
            <div class="control-group">
                <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                <div class="controls">
                    @Html.Password("ConfirmPassword")
                </div>
            </div>
        </fieldset>
    
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Change Password"/>
        </div>
    }
}