@model QualityControlByDateViewModel

@{
    ViewBag.Title = string.Format("Quality Analysis -- {0}", Model.Date.ToShortDateString());
}

@section scripts
{
    <style type="text/css">
        .neutral { color: blue; }
        .warning { color: red; }
        .good { color: green; }
    </style>
}

@section SubPageMenu
{
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("Back to Dates", "Index", new {month = Model.Date.Month, year = Model.Date.Year})</li>
    </ul>
}

<div class="row">
    <div class="span6">
        
        @foreach(var barcode in Model.Barcodes)
        {
            var quality = barcode.BarcodeFiles;
            var rows = quality.Select(a => a.WellRow).Distinct().OrderBy(a => a);
            var cols = quality.Select(a => a.WellColumn).Distinct().OrderBy(a => a);
    
            <div class="well">
                
                <div class="pull-right">
                    @using (Html.BeginForm("ChangeDownload", "QualityControl", new {id=barcode.Id}, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        if(barcode.AllowDownload)
                        {
                            <span class="good" style="font-weight: bold;">Download Enabled</span>
                            <button type="submit" class="btn btn-danger">Click to Disable</button>
                        }
                        else
                        {
                            <span class="warning" style="font-weight: bold;">Download Disabled</span>
                            <button type="submit" class="btn btn-success">Click to Enable</button>
                        }    
                    }
                </div>
                
                @Html.ActionLink(barcode.UserJobPlate.UserJob.Name, "Details", "UserJob", new {id = barcode.UserJobPlate.UserJob.Id}, new {})
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        @foreach(var col in cols)
                        {
                            <th>@col</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in rows)
                    {
                        <tr>
                            <th>@row</th>
                            @foreach(var col in cols)
                            {
                                var cell = quality.FirstOrDefault(a => a.WellColumn == col && a.WellRow == row);
                                if (cell != null)
                                {
                                    var cls = "neutral";
                                    var diff = cell.End - cell.Start;
                                    diff = diff < 0 ? 0 : diff;
                                    if (diff >= 0 && diff < 100)
                                    {
                                        cls = "warning";
                                    }
                                    else if (diff >= 100 && diff <= 500)
                                    {
                                        cls = "good";
                                    }
                        
                                    <td class="@cls">@diff</td>
                                }
                                else
                                {
                                    <td>n/a</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="span6">
        <table class="table">
            <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Plate Name</th>
                    <th>Avg. Read Len.</th>
                    <th>Success %</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var barcode in Model.Barcodes)
                {
                    double sucessRate = barcode.BarcodeFiles.Count(a => (a.End - a.Start) >= 100) / (double)barcode.BarcodeFiles.Count() * 100;
                    
                    <tr>
                        <td>@barcode.UserJobPlate.UserJob.Id</td>
                        <td>@barcode.PlateName</td>
                        <td>
                            @(barcode.BarcodeFiles.Sum(a => (a.End - a.Start)) / barcode.BarcodeFiles.Count)
                        </td>
                        <td>@string.Format("{0:0.##}",sucessRate) %
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>