@using CAESGenome.Controllers
@model IQueryable<DateTime>

@{
    ViewBag.Title = "Quality Analysis";
    var month = ViewBag.Month;
    var year = ViewBag.Year;
    var date = new DateTime(year, month, 1);
}

@section scripts
{
    <link href="@Url.Content("~/Content/calendar.css")" rel="stylesheet">
}

<!-- Top mennu -->
<div class="well">
    <div class="pull-left">
        <a class="btn" href="@Url.Action("Index", new {month = month, year = year, direction=QualityControlController.CalendarDirection.Left})">
            <i class="icon-arrow-left"></i>
        </a>    
    </div>
    @if (date.AddMonths(1) < DateTime.Now)
    {
        <div class="pull-right">
            <a class="btn" href="@Url.Action("Index", new {month = month, year = year, direction=QualityControlController.CalendarDirection.Right})">
                <i class="icon-arrow-right"></i>
            </a>    
        </div>    
    }
    <div style="clear:both;"></div>
</div>

<!-- Calendar -->
<div class="row" style="text-align: center;">
    <span class="span4">@Html.Partial("_Calendar", new CalendarModel(){DateTime = date.AddMonths(-2), HighlightDates = Model})</span>
    <span class="span4">@Html.Partial("_Calendar", new CalendarModel(){DateTime = date.AddMonths(-1), HighlightDates = Model})</span>
    <span class="span4">@Html.Partial("_Calendar", new CalendarModel(){DateTime = date, HighlightDates = Model})</span>
</div>


<div class="well" style="margin-top: 2em;">
    
    @if(ViewBag.PendingUpload > 0)
    {
        using(Html.BeginForm("ScanFiles", "QualityControl", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-large btn-success">Scan for new Files (@ViewBag.PendingUpload)</button>        
        }
    }
    else
    {
        <div class="label label-info" style="margin-bottom: 1em; padding: 1em;">No Pending Files to Upload</div>
    }
    
    @if(ViewBag.PendingValidation > 0)
    {
        using (Html.BeginForm("PhredValidation", "QualityControl", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-large btn-success">Run PHRED Validation (@ViewBag.PendingValidation)</button>        
        }
    }
    else
    {
        <div class="label label-info" style="padding: 1em;">No Pending Barvodes to run Validation</div>
    }
    
</div>

