@using CAESGenome.Core.Resources
@model SequencingViewModel

@using(Html.BeginForm("Create", "Sequencing", new {id=Model.JobType.Id}, FormMethod.Post, new {@class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)  
    
    <div class="control-group">
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Name, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(model => model.PostModel.Name)
                    @Html.ValidationMessageFor(model => model.PostModel.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.RechargeAccount, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.RechargeAccount", Model.RechargeAccounts, "--Select Recharge--"))
                    @Html.ValidationMessageFor(model => model.PostModel.RechargeAccount)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.PlateType, new {@class = "control-label"})
                <div class="controls">
                    @foreach(var pt in Model.PlateTypes)
                    {
                        <label class="radio inline">
                            @Html.RadioButton("PostModel.PlateType", pt.Value, pt.Selected)    
                            @pt.Text
                        </label>    
                    }
                    @Html.ValidationMessageFor(model => model.PostModel.PlateType)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.NumPlates, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(model => model.PostModel.NumPlates)
                    @Html.ValidationMessageFor(model => model.PostModel.NumPlates)
                </div>
            </div>
            <div class="control-group" id="sequencedirections">
                @Html.LabelFor(model => model.PostModel.SequenceDirection, new {@class = "control-label"})
                <div class="controls">
                    @foreach(var sd in Model.SequenceDirections)
                    {
                        <label class="radio inline">
                            @Html.RadioButton("PostModel.SequenceDirection", sd.Value, sd.Selected)
                            @sd.Text
                        </label>
                    }
                    @Html.ValidationMessageFor(model => model.PostModel.SequenceDirection)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Strain, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.Strain", Model.Strains, "--Select Host--"))
                    @Html.ValidationMessageFor(model => model.PostModel.Strain)
                </div>
            </div>          
            <div id="newstrain" style="@(Model.PostModel.Strain != null && Model.PostModel.Strain.IsOther() ? "display:block;" : "display:none;")">
                <div class="control-group">
                    @Html.LabelFor(model => model.PostModel.NewStrain, new {@class = "control-label"})
                    <div class="controls">
                        @Html.EditorFor(model => model.PostModel.NewStrain)
                        @Html.ValidationMessageFor(model => model.PostModel.NewStrain)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.PostModel.Bacteria, new {@class = "control-label"})
                    <div class="controls">
                        @Html.Partial("_selectList", new SelectListModel("PostModel.Bacteria", Model.Bacterias, "--Select Antibiotic--"))
                        @Html.ValidationMessageFor(model => model.PostModel.Bacteria)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Primer1, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.Primer1", Model.Primers, "--Select Primer--"))
                    @Html.ValidationMessageFor(model => model.PostModel.Primer1)
                    <span class="help-inline">
                        Select "will supply" if you will bring your own primer
                    </span>
                </div>
            </div>
            <div class="control-group" id="primer2" style="@(Model.PostModel.SequenceDirection.HasValue && Model.PostModel.SequenceDirection == SequenceDirection.Backward ? "display:block;" : "display:none;")">
                @Html.LabelFor(model => model.PostModel.Primer2, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.Primer2", Model.Primers2, "--Select Primer--"))
                    @Html.ValidationMessageFor(model => model.PostModel.Primer2)
                    <span class="help-inline">
                        Select "will supply" if you will bring your own primer
                    </span>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Vector, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.Vector", Model.Vectors, "--Select Vector--"))
                    @Html.ValidationMessageFor(model => model.PostModel.Vector)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Antibiotic, new {@class = "control-label"})
                <div class="controls">
                    @Html.Partial("_selectList", new SelectListModel("PostModel.Antibiotic", Model.Antibiotics, "--Select Antibiotic--"))
                    @Html.ValidationMessageFor(model => model.PostModel.Antibiotic)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.Comments, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(model => model.PostModel.Comments)
                    @Html.ValidationMessageFor(model => model.PostModel.Comments)
                </div>
            </div>
        </fieldset>
        
        <fieldset>
            <legend>Plates</legend>
            
            <div class="control-group">
                @Html.LabelFor(model => model.PostModel.PlateNames, new {@class = "control-label"})
                <div class="controls">
                    <div id="plate-container">
                        @for (var i = 0; i < Model.PostModel.NumPlates; i++ )
                        {
                            var name = Model.PostModel.PlateNames != null ? Model.PostModel.PlateNames[i] : string.Empty;
                            @Html.TextBox("PostModel.PlateNames", name)
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.PostModel.PlateNames)
                    <div class="help-block"><p>Label name(s) on the side of your plate(s), not hte plate seal(s).</p></div>
                </div>
                
            </div>
        </fieldset>
    </div>
    
    <div class="form-actions">
        <input type="submit" value="Submit Job" class="btn btn-primary"/>
        @Html.ActionLink("Cancel", "Index", "Authorized", new { }, new { @class = "btn" })
    </div>
}