@model IEnumerable<Barcode>

@{
    ViewBag.Title = "Downloads";
}

@section scripts
{
    @Html.Partial("_DataTables")

    <style type="text/css">
        .table-striped tbody td.blackout, .table-striped tbody tr:nth-child(odd) td.blackout { background-color: darkgrey;}
    </style>
    
     <script type="text/javascript">
         $(function () {
             $(".table").dataTable({
                 "aaSorting": [[1, "asc"]], //Default sort on second column
                 "aoColumnDefs": [
                     { 'bSortable': false, 'aTargets': [0] } //Disables sort on icon columns
                 ]
             });
         });
    </script>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Job Name</th>
            <th>Plate Name</th>
            <th>Submission Date</th>
            <th>Completion Date</th>
        </tr>    
    </thead>
    <tbody>
        @foreach(var barcode in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("File", "Downloads", new {id = barcode.Id})" class="btn">
                        <i class="icon-download"></i>
                    </a>
                </td>
                <td>@barcode.UserJobPlate.UserJob.Name</td>
                <td>@barcode.PlateName</td>
                <td>@barcode.DateCreated.ToShortDateString()</td>
                <td>@barcode.UserJobPlate.UserJob.LastUpdate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>